section {
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px;
}

.mlb--logo img {
  max-height: 45px;
  width: 60px;
}

.app--nav {
  background-color: #002E6D;
  color: white;
  height: 50px;
  text-align: center;
}

.app--nav span:first-child {
  float: left;
  margin-left: 20px;
  margin-top: 8px;
}

.app--nav span:last-child {
  font-size: 34px;
  font-weight: bold;
}

.toggle--buttons {
  margin-top: 25px;
  text-align: center;
}

table {
  border-collapse: collapse;
  border-color: grey;
}

.each__game  {
  border-top: 1px solid grey;
  margin-bottom: 9px;
  width: inherit;
}

.each__game--description  {
  font-size: 12px;
  margin-top: 5px;
  margin-left: 12px;
}

.team__logo {
  display: inline;
  height: 20px;
  margin: 0 3px;
  vertical-align: middle;
  width: 20px;
}

tr > th {
  color: black;
}

th {
  min-width: 135px;
  padding: 5px;
}

.pitcher__link {
  color: #33C7ff;
  text-decoration: none;
}

.team__link {
  color: #708090;
  margin-right: 5px;
  text-decoration: none;
}

button {
  background-color: grey;
  border: 1px solid black;
  font-size: 18px;
  font-weight: inherit;
  padding: 20px 35px;
}

button:focus {
  outline: 0;
}

button:first-child {
  border-bottom-left-radius: 8px; 
  border-top-left-radius: 8px;
}

button:last-child {
  border-bottom-right-radius: 8px; 
  border-top-right-radius: 8px;
}

.active {
  background-color: #fff;
  font-weight: bold;
}
